.contacts {
    textarea { resize: none; }
    
    #message { margin-bottom: $distance+10; }

    .btn-custom {
        background: $link-default-hover-color;
        border: none;
        border-radius: 6px;
        margin-top: 0;
    }
}
    
.map.container-fluid {
    margin-top: 2*$distance;
    padding: 0;
    
    .row {
        margin-left: 0;
        margin-right: 0;
    
        .col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#map {
    height: 300px;
    width: 100%;
}