footer {
    background-color: #4a5c6b;
    color: #fff;
    float: left;
    margin-top: $distance;
    padding-bottom: 3*$distance+10;
    padding-top: 2*$distance;
    position: relative;
    width: 100%;
    
    .services, .contacts {
        h3 {
            font-weight: bold;
            padding-bottom: $distance / 2;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
            li a {
                color: $body-bg;
                cursor: pointer;
                font-size: 16px;
                line-height: 30px;
            }
            
            li a:hover {
                text-decoration: none;
            }
        }
    }
    
    .social-networks {
        display: inline;
        list-style: none;
        
        li {
            display: inline;
            margin: 0 11px;
                                    
            a:hover {
                color: #fff;
            }
            
            a.facebook:hover { background-color:#3B5998; }
            a.twitter:hover { background-color:#33ccff; }
            a.google:hover { background-color:#BD3518; }
            
            a {
               background-color: $link-default-hover-color;                
               border: 2px solid $body-bg;
	           border-radius:50%;
               display:inline-block;
	           font-size: 28px;
	           height: 70px;
	           margin:0 auto 0 auto;
	           position:relative;
	           text-align:center;
	           width: 70px;
	           -moz-border-radius:50%;
	           -webkit-border-radius:50%;
            }
            
            @media (max-width: 1199px) {
                a {
                    font-size: 20px;
                    height: 45px;
                    width: 45px;
                    
                    i { padding: 0; }
                }   
            }
            
            i {
               color: #fff;
	           line-height:50px;
               margin: 0;
               padding-top: 11px;
	           text-align: center;
	           transition: all 0.8s;
	           -webkit-transition: all 0.8s;
	           -moz-transition: all 0.8s;
	           -o-transition: all 0.8s;
               -ms-transition: all 0.8s;
            }
            
            a:hover i {
               -moz-transform: rotate(360deg);
	           -webkit-transform: rotate(360deg);
               -ms--transform: rotate(360deg);
	           transform: rotate(360deg);
	           -webkit-transition: all 0.2s;
	           -moz-transition: all 0.2s;
	           -o-transition: all 0.2s;
	           -ms-transition: all 0.2s;
	           transition: all 0.2s; 
            }
        }
        
        @media (max-width: 991px) {
            li { margin: 0; }
        }
    }
    
    .btn {
        background-color: $link-default-hover-color;
        border-radius: 10px;
        border: 2px solid $body-bg;
        color: #fff;
        display: block;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 2*$distance+10;
        text-transform: uppercase;
        width: 150px;
    }
    
    .btn:hover, .btn:active, .btn:focus {
        //background-color: #c38593;
        color: #fff;
    }
    
    @media (max-width: 768px) {
        .services { text-align: center; }
        
        .contacts, .social-networks {
            text-align: center;
        }
        
        .social-networks {
            display: block;
            padding: 0;
            margin-top: $distance;
        }
        
        .btn {
            margin-top: $distance;
        }
    }
}

.footer-copyright {
    background-color: #333;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    
    p {
        color: $body-bg;
        margin: 5px 0;
    }
}