header {
    border-top: 7px solid $gray;
    margin-bottom: $distance;
    
    .wide-header {
        border-bottom: 2px solid $laravel-border-color;
        border-top: 2px solid $laravel-border-color;
        height: 108px;

        .logo img {
            height: 80px;
            margin-top: 10px;
            width: 135px;
        }
        
        .contact div {
            font-size: 19px;
            font-weight: 800;
            margin-top: 32px;
        }
        
        @media (max-width: 399px) {
            .contact div {
                font-size: 12px;
            }
            
            .logo img {
                width: 100px;
                height: 60px;
            }
        }
    }
    
    .top-menu {
        background: $gray;
        margin: 0;
        
        #myNavbar { padding: 0; }
        
        ul li a {                    
            color: $link-default-color;
            font-weight: bold;
            padding-right: 2*$distance;
        }
                
        a:first-child { padding-left: 0; }                
        a.active { color: $link-default-hover-color; }
                
        .icon-bar {
            background: $link-default-hover-color;
        }
        
        @media (max-width: 768px) {
            #myNavbar { padding: 0 15px; }
        }
    }
    
    .header-color {
        height: 90px;
        background: #20358c;
        
        h1 {
            padding: 0;
            text-align: left;
        }
        
        .moving-ball, .moving-ball2 {
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 26px;
            position: relative;
            width: 26px;
            -webkit-animation-name: movingBall; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
            -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
            animation-name: movingBall;
            animation-timing-function: linear;
            animation-duration: 9s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        
        .moving-ball2 {animation-delay: 3s; }
        
        @keyframes movingBall {
            0%   {background-color:#cf9da8; left:0px; top:0px;}
            100% {background-color:#af5d6f; left:98%; top:0px;}
        }
        
        /*
        .animation {
            animation: width 6s infinite linear;
            border-style: solid;
            border-width: 0;
            border-color: transparent #fff;
            height: 90px;
            width: 14px;
        }
        
        @keyframes width {
            0% {border-width:1em 1em 0 0;}
            25% {border-width:0 1em 1em 0;}
            50% {border-width:0 0 1em 1em;}
            75% {border-width:1em 0 0 1em;}
            100% {border-width:1em 1em 0 0;}
        }
        */
    }
    
    .header-image {
        background-image: url(/images/wide-image.jpg);      //linear-gradient(#0085b5, #20358C);
        background-position-y: -147px;
        border-top: 2px solid $laravel-border-color;
        height: 250px;
        padding: 0;
        position: relative;
        
        .blurred {
            background: rgba(21, 52, 76, 0.75);
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
    
    h1 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px;
        padding: 70px 0;
        text-align: center;
        text-transform: uppercase;
    }
    
    @media (max-width: 399px) {
        h1 {
            padding: $distance;
        }
    }
    
    svg {
        bottom: 0;
        height: 25px;
        position: absolute;
        width: 100%;
    }
    
    @media (max-width: 699px) {
        .svg--lg {
            display: none;
        }
    }
    
    @media (min-width: 700px) {
        .svg--sm {
            display: none;
        }
    }
}