header {
    border-top: 7px solid $gray-custom;
    margin-bottom: $distance;
    
    .wide-header {
        border-bottom: 2px solid $laravel-border-color;
        border-top: 2px solid $laravel-border-color;
        min-height: 125px;

        .logo img {
            height: 45px;
            margin-top: 3*$distance;
            margin-left: -4px;
            width: 200px;
        }
        
        .contact div {
            font-size: 19px;
            font-weight: 800;
            margin-top: $distance;
            
            .first-color { color: $link-default-hover-color; }
            .second-color a { color: $second-color; }
            .second-color a:hover { text-decoration: none; cursor: default; }
        }
        
        .locale {
            display: inline;
            
            ul {
            
                li {
                    border-right: 2px solid $second-color;
                    margin-right: $distance+3;
                    padding-right: $distance;
            
                    a {
                        color: $link-default-hover-color;
                        font-size: 14px;
                    }
                
                    a:hover {
                        text-decoration: none;                    
                    }
                }
                
                li:last-child {
                    border-right: none;
                }
            }
        }
        
        .langs {
            float: right;
            list-style: none;
            margin-bottom: 0;
            
            li {                
                display: inline;
                
                a {
                    color: $text-color;
                }
            }
        }
        
        @media (max-width: 768px) {
            .logo {
                text-align: center; 
            }
            
            .contact > div {
                float: none !important;
            }
            
            .locale ul { 
                float: none;
                text-align: center;
            }
        }
    }
    
    .top-menu {
        background: $gray-custom;
        margin: 0;
        
        #myNavbar { padding: 0; }
        
        ul li {
            padding-right: $distance;
            padding-left: $distance;
            
            a {
                //font-family: 'Raleway-Regular', Palatino-linotype, sans-serif; src: url('/fonts/Raleway-Regular.ttf');
                color: $link-default-color;
                display: inline-block;
                font-weight: bold;
                padding-right: 0;
                padding-left: 0;
                
                //border-top: 2px solid transparent;    
                //width: 0px;
                //transition: 0.5s ease;
                //white-space: nowrap;
            }
            
            a:before {
                background: transparent;
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                top: 0;
                transition: width .5s ease, background-color .5s ease;
                width: 0;
            }
            
            a:hover:before {
                width: 100%;
                background: $link-default-hover-color;
            }
                      
            a.active { 
                border-top: 1px solid $link-default-hover-color;
                color: $link-default-hover-color;
                margin-top: -1px;
            }
            
            /*
            a:hover {
                border-top: 2px solid $link-default-hover-color;
                color: $link-default-hover-color;
                margin-top: -2px;
            }
            */
        }
                
        ul li:first-child { padding-left: 0; }      
                
        .icon-bar {
            background: $link-default-hover-color;
        }
        
        @media (max-width: 768px) {
            #myNavbar { 
                padding: 0 15px;
                
                ul li { padding-left: 15px; }
            }
        }
    }
    
    .header-color {
        background: $link-default-hover-color;
        //height: 90px;
        
        h1 {
            padding: 0;
            text-align: left;
        }
        
        .moving-ball, .moving-ball2 {
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 26px;
            position: relative;
            width: 26px;
            -webkit-animation-name: movingBall; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
            -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
            animation-name: movingBall;
            animation-timing-function: linear;
            animation-duration: 9s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        
        .moving-ball2 {animation-delay: 3s; }
        
        @keyframes movingBall {
            0%   {background-color:#cf9da8; left:0px; top:0px;}
            100% {background-color:#af5d6f; left:98%; top:0px;}
        }
        
        /*
        .animation {
            animation: width 6s infinite linear;
            border-style: solid;
            border-width: 0;
            border-color: transparent #fff;
            height: 90px;
            width: 14px;
        }
        
        @keyframes width {
            0% {border-width:1em 1em 0 0;}
            25% {border-width:0 1em 1em 0;}
            50% {border-width:0 0 1em 1em;}
            75% {border-width:1em 0 0 1em;}
            100% {border-width:1em 1em 0 0;}
        }
        */
    }
    
    .header-image {
        background-image: url(/images/wide-image.jpg);      //linear-gradient(#0085b5, #20358C);
        background-position-y: -147px;
        border-top: 2px solid $laravel-border-color;
        height: 250px;
        padding: 0;
        position: relative;
        
        .blurred {
            background: rgba(21, 52, 76, 0.75);
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
    
    h1 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px;
        padding: 70px 0;
        text-align: center;
        text-transform: uppercase;
    }
    
    @media (max-width: 399px) {
        h1 {
            font-size: 30px;
            padding: $distance;
        }
    }
    
    svg {
        bottom: 0;
        height: 25px;
        position: absolute;
        width: 100%;
    }
    
    @media (max-width: 699px) {
        .svg--lg {
            display: none;
        }
    }
    
    @media (min-width: 700px) {
        .svg--sm {
            display: none;
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans');
body * { font-family: 'Exo 2', 'Noto Sans', sans-serif; }

.container .btn-custom {
        background-color: $link-default-hover-color;   //$light-color;
        border-radius: 10px;
        border: 2px solid $body-bg;
        color: #fff;
        display: block;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 2*$distance+10;
        text-transform: uppercase;
        width: 180px;
    }
    
.container .btn-custom:hover, .container .btn-custom:active, .container .btn-custom:focus {
    background-color: $second-color; //$link-default-hover-color;
    color: #fff;
}