.section-services {
    background-image: url(/images/background-light.png);
    margin: 3*$distance 0;
    padding: 3*$distance 0;
    
    .box {
        background: #fff;
        border: 1px solid $link-default-hover-color;
        box-shadow: 0 0 40px #888888;
        min-height: 270px;
        padding: $distance;
        position: relative;
        text-align: center;
        
        
        .box-bottom {
            background: $link-default-hover-color;
            bottom: 0;
            color: #fff;
            font-weight: bold;
            left: 0;
            padding: $distance 0;
            position: absolute;
            text-transform: uppercase;
            width: 100%;
        }
        
        .box-bottom:hover {
            text-decoration: none;
        }
    }
    
    .box:hover {
        box-shadow: none;
        //box-shadow: 10px 10px 5px #888888;
    }
    
    @media (max-width: 1199px) {
        .box {
            min-height: 310px;
        }
    }
    
    @media (max-width: 768px) {
        .box {
            margin: 0 auto;
            margin-bottom: 2*$distance+10;
            width: 50%;
        }
    }
    
    @media (max-width: 560px) {
        .box {
            width: 100%;
        }
    }
}

.article-sumed {
    text-align: justify;
    margin-bottom: 2*$distance;
    
    .latest-projects { 
        border-top: 1px solid black;
        padding-top: 2*$distance; 
    }
    
    img {
        border: 1px solid black;
        margin: 0 $distance 2*$distance 0;
        width: 100%;
    }
    
    h3 { margin-top: 0; }
    
    .read-more {
        background: $link-default-hover-color;
        color: #fff;
        font-weight: bold;
        margin-bottom: $distance/2;
        padding: 8px $distance;
        text-transform: uppercase;
    }
    
    .read-more:hover { text-decoration: none; }
}
