.services {
    
    p {
        text-align: justify;
        text-indent: $distance;
    }

    .line {
        border-bottom: 2px solid $link-default-hover-color;
        color: $link-default-hover-color;
        font-size: 22px;
        padding-bottom: $distance/4;
        margin: 2*$distance 0 $distance $distance;
        text-transform: uppercase;
    }
    
    .line:first-child { margin-top: 0; }
    
    .list-item {
        color: $link-default-hover-color;
        margin-top: $distance;
        text-indent: $distance;
    }
    
    .border-bottom {
        border-bottom: 2px solid $link-default-hover-color; 
        display: block;
        margin: $distance 0;
    }
    
    .click-here {
        font-size: 18px;
        font-weight: bold;
        
        a {
            display: block;
        }
    }
}